.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
  }
  
  nav {
    margin-left: auto;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 1rem;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #000;
  }
  